 .hover-button {
        color: #28C76F !important;
        color: white !important;
        max-width: 130px;
        background-color: #28C76F !important;
    }

    .hover-button:hover {
        background-color: #20a55c !important;
        color: white !important;
    }

    .input-container2 {
        position: relative !important;
        width: 100% !important;
        max-width: 577px !important;
        /* Set width to 680px */
    }

    .input-control2 {
        width: 100% !important;
        padding: 10px 20px !important;
        padding-left: 40px !important;
        /* Space for the SVG icon */
        border-radius: 16px 0px 0px 16px !important;
        border: 2px solid #28C76F !important;
        outline: #28C76F !important;
    }

    .input-control2::placeholder {
        color: #9e9e9e !important;
    }

    .input-control2:focus {
        border: 2px solid #28C76F !important;

    }

    .input-control2::placeholder {
        color: #9e9e9e !important;
    }

    .fs-609{
        max-width: 609px !important;
    }
    .fs-957{
        max-width: 957px !important;
    }
    .card-shadow{
        box-shadow: 6px 7px 5px -4px #E0E9EFA3 !important;
    }
    .card-label {
        height: 4.5rem;
    }